<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICallbackKalkulator" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISerwis" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10003/my/e1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISerwis" contract="ServiceReference1.ISerwis"
                name="WSHttpBinding_ISerwis">
                <identity>
                    <userPrincipalName value="DESKTOP-G3DNSSJ\wojte" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:20003/CallbackKalkulator"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICallbackKalkulator"
                contract="ServiceReference2.ICallbackKalkulator" name="WSDualHttpBinding_ICallbackKalkulator">
                <identity>
                    <userPrincipalName value="DESKTOP-G3DNSSJ\wojte" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>